@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #f1f1f111; /* Cor de fundo da trilha */
  padding: 20px;
}

::-webkit-scrollbar-thumb {
  background: #0172ad; /* Cor de fundo do manipulador */
  padding: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1281bc; /* Cor de fundo do manipulador ao passar o mouse */
}

* {
  scrollbar-width: thin; /* "auto" ou "thin" */
  scrollbar-color: #0172ad #f1f1f111; /* cor da barra e cor da trilha */
}